#main {
    background-color: white;
}

#on-main {
    position: relative;
    z-index: 1;
    background-color: white;
    margin: 3% 10%;

}

#carouselRes {
    position: relative;
    margin: 0 auto;
    padding: 5px;
    z-index: 2;

}

.carousel-item img {
    width: 1060px;
    height: 475px;
    border: 3px solid #686868;
    border-radius: 13px;
}
/*@media only screen and(max-width: 379px) {*/
    /*.carousel-item img {*/
        /*width: 340px;*/
        /*height: 240px;*/
    /*}*/
/*}*/
.on-carousel{
    position: relative;
    z-index: 3;
    border: 3px solid white;
    border-radius: 4px;
    margin: 0 auto;
}
.carousel-indicators li{
    background-color: #f8d7da;
}
.carousel-item > .carousel-caption h2{
    color: #c3e6cb;
}

.easy {
    text-align: center;
}

.price {
    color: #d31a1f;
}

.add-cart {
    margin: 0 0 13px 0;

}

p {
    color: #7F7F7F;
    font-size: 15px;
}

.catalogue h4 {
    color: #7F7F7F;
}
