#bot-header {
    background: rgb(45, 44, 69);
    color: white;
    font-family: "Helvetica Neue", sans-serif;
}
h2 {
    color: white;
}
h3{
    color: white;
}
a{
    text-decoration: none;
}
p{
    color: white;
}
.tuan img{
    width: 100%;
    height: 295px;

}
.carousel-inner > .item img {
    width: 100%;
    height: 295px;
}
table, th, td {
    border: 2px solid white;
    border-collapse: collapse;
    color: white;

}
.slide-res-bar {
    margin: 20px 0 20px 0;
}
.leftRes {
    margin: 20px 0 20px 0;
}
.leftRes a{
    text-decoration: none;
    color: white;

}
.slide-res-bar a {
    text-decoration: none;
    color: white;
}

