#contact-us {
    background: rgb(45, 44, 69);
}

.only-text > p {
    text-align: center;
    color: white;
}
.only-bighead h2{
    float: left;
    color: white;
    margin-left: 13px;
}
input[name], textarea, [type=email] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    margin-bottom: 22px;
}

@media screen and (max-width: 600px) {
    input[type=text], textarea, [type=email] {
        width: 100%;
        margin-top: 15px;
    }
}

#map {
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
}

#submit {
    width: 50%;
    border-radius: 25px;
    margin-left: -15px;

}
/*#submit:hover {*/
    /*color: white;*/
/*}*/
