#contact-us {
    background: rgb(64, 160, 208);
    font-family: Avenir, Helvetica, Arial, sans-serif;
    height: 1200px;
}

.test {
    background: #ffffff;
    color: rgb(37, 59, 86);
    border-radius: 35px;
    padding: 10px;
}

#map {
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
}

#nameH, #subject, #email, #comments {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

#send {
    padding: 12px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    background: rgb(64, 160, 208);
    color: #ffffff;
}
#send:hover{
    background: rgb(37, 59, 86);
    color: #ffffff;
}

.support {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 600px) {
    .support, #send {
        width: 100%;
        margin-top: 0;
    }
}
