h3 {
    color: white;
}

.leftRes a{
    text-decoration: none;
    color: white;

}
.slide-res-bar a {
    text-decoration: none;
    color: white;
}
.slide-res-bar {
    margin: 20px 0 20px 0;
}
.leftRes {
    margin: 20px 0 20px 0;
}
a:hover {
    color: #1b1e21;
}
h3 {
    color: white;
}
h2{
    color: white;
}
.tuan img{
     width: 100%;
     height: 295px;

 }
#bot-header {
    background: rgb(45, 44, 69);
    color: white;
    font-family: "Helvetica Neue", sans-serif;
}
