
.all-footer {
    /*background: rgb(26, 23, 47);*/
    background: rgb(103, 184, 228);
    font-family: "Comic Sans MS", cursive, sans-serif;;

}

hr {
    color: black;
    width: 90%;
}

.icon-bar-social {
    width: 50px;
    z-index: 998;
    position: fixed;
    top: 120px;
    left: 0;
}

.icon-bar-social a {
    display: block;
    text-align: center;
    padding: 4px;
    color: white;
    font-size: 26px;
}

.icon-bar-social a:hover {
    -webkit-transition: width 2.3s ease-in-out;
    transition: width 2.3s ease-in-out;
    width: 63px;
}

.icon-bar-social > .fb {
    background: rgb(59, 89, 152);
}

.icon-bar-social > .twit, .icon-bar-social > .sky {
    background: rgb(29, 161, 242);
}

.icon-bar-social > .print {
    background: rgb(115, 138, 141);
}

.icon-bar-social > .globe {
    background: rgb(255, 77, 77);
}

#text-final {
    color: #ffffff;
    margin-top: 18px;
}

.breadcrumb {
    padding: 0 15px;
}

#menu-menu-footer li {
    float: left;
    list-style: none;
    display: inline;
    margin-bottom: 10px;

}

#menu-menu-footer a {
    color: #ffffff;
    margin: 0 20px 0 45px;
    font-size: 13px;

}

@media only screen and (max-width: 700px) {
    #menu-menu-footer a {
        margin: 0 0 0 -7px;
        font-size: 9px;
    }

    #text-final {
        margin-left: -10px;
    }
}

#menu-menu-footer a:hover {
    color: rgb(38, 61, 89);
}


