#bot-header {
    background: rgb(64, 160, 208);
    /*margin-bottom: -10px;*/
}
.test{
    background: #ffffff;
    color: rgb(37, 59, 86);
    border-radius: 35px;
    padding: 45px;
}
.lineOne, .lineTwo, .lineThree, .lineFour {
    padding: 25px;
    transition: transform .2s; /* Animation */

}
.lineOne img, .lineTwo img, .lineThree img, .lineFour img {
    width: 100%;
    height: 180px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: .9;
}

.lineOne:hover img, .lineTwo:hover img, .lineThree:hover img, .lineFour:hover img{
    transform: scale(1.3);
    opacity: 1.0;

}
@media only screen and (max-width: 990px) {
    #bot-header img{
        width: 100%;
        height: 200px;
    }
}
