header {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.affix {
    top: 0;
    width: 100%;
    z-index: 9998 !important;
}

.affix + .container {
    padding-top: 70px;
}

.modal {
    display: none;
    position: fixed;
/ z-index: 9999;
    left: 0;
    top: 0;
    margin: 0 auto;
    width: 65%;
    height: 100%;
    overflow: auto;
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    position: absolute;
    right: 25px;
    z-index: 9999;
    top: 60px;
    color: white;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

#sign-in {
    border: 3px solid #f1f1f1;
}

.col-25 {
    margin-top: 15px;
    width: 25%;
    float: left;
}

.col-75 {
    width: 75%;
    float: left;
}

#uname, #psw {
    width: 90%;
    padding: 12px 13px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 0;
    box-sizing: border-box;
}

#login-modal {
    color: white;
    width: 12%;
    padding: 12px;
    background: rgb(76, 175, 80);
    font-size: 12px;
    border: none;
    cursor: pointer;
    margin-left: 15px;
}

.cancelbtn, #remember {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    font-size: 13px;
    border: none;
    cursor: pointer;
    width: 99.2%;
}

#login-modal:hover, .cancelbtn:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 11px 18px;
    background-color: #f44336;
}

.imgContainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 20%;
    border-radius: 50%;
}

#sign-in-form {
    padding: 16px;
}

span.psw {
    float: right;
    margin-right: 20px;
    padding-top: 16px;
}

span.yet {
    float: right;
    margin-right: 15px;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 768px) {
    span.psw {
        display: block;
        float: none;
        font-size: smaller;
        margin: 0 0 2px 16px;
    }

    span.yet {
        display: block;
        float: none;
        font-size: smaller;
        margin: 0 0 2px 16px;
    }

    .cancelbtn {
        width: 35%;
        padding: 10px;
    }

    #login-modal {
        width: 45%;
        padding: 11px;
        font-size: small;
    }

    .col-25 label b {
        font-size: 12px;
    }
}
@media only screen and (max-width: 600px) {
    #login-modal {
        width: 48%;
        padding: 5px;
        font-size: small;
    }
    .cancelbtn {
        width: 35%;
        padding: 5px;
    }
    #uname, #psw {
        width: 100%;
        padding: 12px 0;
    }
}
#main-header {
    background: rgb(26, 23, 47);
    color: white;
}

#special a {
    margin: 10px 5px;
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#special a:hover {
    color: white;
    text-decoration: none;
}

#error {
    height: 63px;
}

#search {
    width: 130px;
    height: 32px;
    margin-top: 23px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 13px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 13px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    color: black;
    float: left;

}

#search:focus {
    width: 80%;
}

#login {
    float: right;
    margin-top: 32px;
    text-decoration: none;
    color: white;
}

#btn-search {
    width: 18%;
    padding: 5px;
    margin: 23px 0 0 -25px;
    border-radius: 13px;
}

.navbar-default {
    border-radius: 0;
    background: rgb(26, 23, 47);
    margin: 0;
    border-color: transparent;
}

.navbar-default .navbar-brand {
    color: white;
    font-size: x-large;
}

.navbar-default .navbar-brand:hover {
    color: white;
}

.navbar-nav > li > .dropdown-menu {
    background-color: rgb(26, 23, 47);
    margin-left: 22px;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    font-size: 13px;
}

.navbar-default .navbar-nav > li > a:hover {
    background: rgb(20, 18, 33);
    color: white;
}

.navbar-nav > li > a {
    padding: 20px;
    margin-left: 15px;

}

@media only screen and (max-width: 990px) {
    #just-only-form {
        margin-left: 46%;
        margin-top: -64px;
    }

    .navbar-nav > li > a {
        margin-left: 12px;

    }
}

.navbar-default .navbar-text {
    padding: 5px;
    margin-left: 100px;
    font-size: 13px;
}

.navbar-default .navbar-text a {
    color: white;
}

@media only screen and (max-width: 1199px) {
    .navbar-default .navbar-text {
        visibility: hidden;
    }
}

.navbar-default .navbar-text a:hover:focus {
    text-decoration: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background: white;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background: rgb(20, 18, 33);
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background: rgb(26, 23, 47);
    color: white;

}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: white;
    margin-left: 2px;
    font-size: 13px;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    background: rgb(20, 18, 33);
    color: white;
}

#sign-in {
    border: 3px solid #f1f1f1;
}

