#myCarousel img{
    height: 800px;
}
#main {
    height: 450px;
    background-color: #1a172f;
}
.tuan h3{
color: orange;

}
#main p{
    color: white;
    font-size: 17px;
    line-height: 25px;
    padding-top: 10px;
}
.tuan img {
    width: 500px;
}
.img-circle {
    margin-top: 17%;
    background: #1a172f;
}
.tuan1 {
    background-color: #1a172f;
}
.tuan2 h3{
    text-align: center;
}
#main1 {
    background-color: white;

}
.tuan2 hr {
    margin-top: 8%;
}
.tuan2 p{
    color: white;
}
.tuan2 h3{
    color: black;
}
.tuan4 hr {
    margin-top: 8%;
}


.tuan4 p{
    color: black;
}
.tuan3 img{
    width: 350px;
    height: 200px;
}
.tuan3 p{
    color: black;
    padding: 5px;
}
.tuan3 h3{
    color: black;
}
.tuan3 p{
    color: black;
    font-size: 17px;
    line-height: 25px;
    padding-top: 10px;

}
.tuan3 i{
    color: #d0b181;

}.tuan5 img{
     width: 350px;
     height: 200px;
 }
.tuan5 h3{
    color: black;
    padding: 5px;
}
.tuan5 p{
    color: black;
    font-size: 17px;
    line-height: 25px;
    padding-top: 10px;

}
.tuan5 i{
    color: #d0b181;

}
.tuan4 h3{
    color: black;
}
#main3 {
    background: #1a172f;

}
#main3 p{
    color: white;
}
#main3 h3{
    color: orange;
}
.tuan6 p{
    color: black;
    font-size: 17px;
    line-height: 25px;
    padding-top: 10px;
}
#main3 h6{
    color: white;

}
#main3 button{
    background-color: #d0b181;
    border: #d0b181;
    margin-left: 48%;
}
#main4 iframe{
    width: 100%;
    height: 200px;
}
.tuan7 img{
    padding: 20px;
}
.tuan7 h3 {
    padding: 5px;
}
