#tuan140 > button{
    text-align: center;
}
.easy{
    text-align: center;
    margin-top: 0;
    padding: -20px;
    color: white;
}
 h3,p,a{
    color: white;
}
 .tuan h3{
     text-align: center;
 }
.tuan1 h3{
    text-align: center;
}
.tuan2 h3{
    text-align: center;
}
.button-3 p{
    width: 100%;
}
.tuan button{
    background: green;
    border: 1px solid green;
}
.tuan1 button{
    background: green;
    border: 1px solid green;
}
.tuan2 button{
    background: green;
    border: 1px solid green;
}
.tuan button{
    margin-left: 73%;
}
.tuan2 button{
    margin-left :73%;
}



 .row a{
    text-decoration: none;
}
 .row-1 a{
     text-decoration: none;
 }
 b:hover{
     background: orange;
 }
#bot-header {
    background: rgb(45, 44, 69);
    color: white;
}

#main {
    /*background-color: rgb(230, 115, 0);*/
    background: rgb(45, 44, 69);
}

#on-main {
    position: relative;
    z-index: 1;
    background-color: white;
    margin: 1% 10%;

}


#carouselRes {
    position: relative;
    margin: 0 auto;
    padding: 5px;
    z-index: 2;

}

.carousel-inner > .item > a > img, .carousel-inner > .item > img {
    width: 1060px;
    height: 475px;
    border: 2px solid white;
    border-radius: 13px;
}

.carousel-control.right, .carousel-control.left {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, 0) 100%);
}

.on-carousel {
    position: relative;
    z-index: 3;
    border: 3px solid white;
    border-radius: 2px;
    margin: 0 auto;
}

.carousel-indicators li {
    background-color: #f8d7da;
}

.carousel-item > .carousel-caption h2 {
    color: white;
}
body {
    background: #2d2c45;
}
