#main .container{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.row h2{
 padding: 10px;
}
h3 {
    color: white;
}
p {
    color: white;
}
b{
    color: white;
}
h4{
    color: white;
}
h2{
    color: white;
}
td{
    color: white;
}
.thumbnail{
    text-align: center;
    width: 50%;
}



