#bot-header {
    background: rgb(64, 160, 208);
    color: rgb(38, 61, 89);
    font-family: Avenir, Helvetica, Arial, sans-serif;
}

.test {
    background: #ffffff;
    color: rgb(37, 59, 86);
    border-radius: 35px;
    padding: 10px;
}

/*@media only screen and (max-width: 768px) {*/
/*.leftRes {*/
/*margin-left: 100px;*/
/*}*/

/*.slide-res-bar {*/
/*margin-right: 100px;*/
/*}*/
/*}*/

strong{
    color: rgb(38, 61, 89);
}
.leftRes {
    margin-top: 20px;
}

.head-text {
    font-family: "Antiqua", Serif, sans-serif;
    font-size: 27px;
}

.line {
    margin: 20px 0 20px 0;
    width: 10%;
    height: 1px;
    border-bottom: 1px solid white;
    display: block;
}

.text-uppercase {
    font-size: smaller;
    margin-right: 2px;

}

.text-primary > .hour {
    width: 34%;
    margin: 0 0 10px 0px;

}

.fa-location-arrow:before, .fa-user:before, .fa-clock-o:before {
    font-size: smaller;
}

.slide-res-bar {
    margin: 20px 0 20px 0;
}

.carousel-inner > .item img {
    width: 100%;
    height: 300px;
}
@media only screen and (max-width: 600px) {
    .carousel-inner > .item img {
        height: 182px;
    }
}
.carousel-inner > .item img:hover {
    background: #337ab7;
    opacity: 0.6;
}

.glyphicon-chevron-left:before, .glyphicon-chevron-right:before {
    font-size: 40px;
}

.carousel-control.left, .carousel-control.right:hover {
    background-image: none;
}

.clear {
    clear: both;
}

