p {
    color: black;
}
b{
    color: black;
}
h4 {
    color: black;
}
h3{
    color: black;
}
h2{
    color: black;
}
#bot-header {
    background: rgb(64, 160, 208);

    color: white;
    font-family: "Helvetica Neue", sans-serif;
}
img {
    width: 100%;
    height: 295px;
}
.pagination {
    text-align: center;
}
.test {
    background: #ffffff;
    color: rgb(64, 160, 208);
    border-radius: 35px;
    padding: 10px;
}

