<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="Bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="Css/Style's%20Team/ticket.css">
    <link rel="stylesheet" href="Css/Style's Team/Header.css">
    <link rel="stylesheet" href="Css/Style's Team/Footer.css">
    <!--<script src="Js/simpleCounter.js"></script>-->
</head>
<script>
    $(function () {
        $("#header").load("Common/Header.html");
        $("#footer").load("Common/Footer.html");
    });


    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target === modal) {
            modal.style.display = "none";
        }
    };


</script>
<body>
<!-- HEADER -->
<div w3-include-html="Common/Header.html" id="header"></div>
<div id="sign-in-modal" class="modal">
  <span onclick="document.getElementById('sign-in-modal').style.display='none'"
        class="close" title="Close Modal">&times;</span>

    <form action="" id="sign-in" class="modal-content animate">
        <div class="imgContainer">
            <img src="Images/default-ava.jpg" alt="" class="avatar">
        </div>

        <div class="" id="sign-in-form">
            <div class="">
                <div class="col-25">
                    <label><b>Tài khoản</b></label>
                </div>
                <div class="col-75">
                    <input type="text" id="uname" placeholder="Tên đăng nhập" name="uname" required>
                </div>
            </div>

            <div class="">
                <div class="col-25">
                    <label><b>Mật khẩu</b></label>
                </div>
                <div class="col-75">
                    <input type="password" id="psw" placeholder="Mật khẩu" name="psw" required>
                </div>
            </div>

            <label>
                <input type="checkbox" checked="checked" id="remember"> Nhớ mật khẩu
            </label>
        </div>

        <button type="submit" id="login-modal">Đăng nhập</button>
        <button type="button" class="cancelbtn"
                onclick="document.getElementById('sign-in-modal').style.display='none'">Hủy
        </button>
        <span class="yet">Bạn chưa phải là thành viên ? <a href="Registration.html">Đăng ký</a></span>
        <span class="psw">Quên <a href="#">mật khẩu?</a></span>

    </form>
</div>
<div id="bot-header">
    <div class="container test">
        <div class="col-lg-8 col-sm-12 col-xs-12">
            <h3>ĐẶT VÉ CÁP TREO</h3>
            <p>Note: Vé được chấp nhận cho tất cả các game (trừ các trò chơi dưới nước)</p>
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-1 hidden-sm hidden-xs">
                        <h2>1</h2>
                    </div>
                    <div class="col-lg-9 col-sm-12 col-xs-12">
                        <h2>Chọn loại vé</h2>
                        <form class="form cf">
                            <section class="plan cf">
                                <input type="radio" ng-model="myVar" name="ticket" id="ticket1" value="ticket1">
                                <label class="free-label four col" for="ticket1"><div>Vé đi 2 chiều</div></label>

                                <input type="radio" ng-model="myVar" name="ticket" id="ticket2" value="ticket2">
                                <label class="basic-label four col" for="ticket2">Vé đi 1 chiều</label>
                            </section>
                        </form>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-1 col-lg-1 hidden-sm hidden-xs">
                        <h2>2</h2>
                    </div>
                    <div class="col-lg-11 col-sm-12 col-xs-12">
                        <h2>Chọn số lượng vé</h2>
                        <p>Lưu ý: Trẻ em dưới 1m được miễn phí vé</p>
                        <div class="row">
                            <div class="col-lg-6 col-sm-12 col-xs-12">
                                <span>Khách hàng >=1.4m</span>
                                <input type="number" id="adult">
                                <div ng-switch="myVar">
                                    <p ng-switch-when="ticket1">Price: 800.000 VND</p>
                                    <p ng-switch-when="ticket2">Price: 730.000 VND</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12 col-xs-12">
                                <span>Khách hàng từ 1m – 1.4m:</span>
                                <input type="number" id="child">
                                <div ng-switch="myVar">
                                    <p ng-switch-when="ticket1">Price: 700.000 VND</p>
                                    <p ng-switch-when="ticket2">Price: 650.000 VND</p>
                                </div>
                            </div>
                            <!--<a href="cart.html">NEXT</a>-->
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-11">
                        <button type="button" class="btn btn-info btn-lg" onClick="price()">Xác nhận</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-1 hidden-sm hidden-xs">
                        <h2>3</h2>
                    </div>
                    <div class="col-lg-11">
                        <h2>Vé đã chọn: </h2>
                        <div ng-switch="myVar">
                            <p ng-switch-when="ticket1">Gói vé: Vé đi 2 chiều</p>
                            <p ng-switch-when="ticket2">Gói vé: Vé đi 1 chiều</p>
                        </div>
                        <h3>Tổng giá vé: <a id="totalPrice">0</a> VND</h3>
                    </div>
                </div>
            </div>
            <script>
                function price() {
                    var i, j, total, package;
                    i = document.getElementById("adult").value;
                    j = document.getElementById("child").value;
                    var checkbox = document.getElementsByName("ticket");
                    for (var k = 0; k < checkbox.length; k++) {
                        if (checkbox[k].checked === true) {
                            package = checkbox[k].value;
                        }
                    }
                    total = 0;
                    if (package == "ticket1") total = i * 800000 + j * 700000;
                    else total = i * 730000 + j * 650000;
                    document.getElementById("totalPrice").innerHTML = total;
                }
            </script>
        </div>

        <div class="col-lg-4 hidden-sm hidden-xs">
            <h2>HÌNH ẢNH</h2>
            <a href="Restaurant.html"><img src="Images/24.4.jpg" class="img-thumbnail"></a>
            <a href="Ben-Pha.html"><img src="Images/22.5.jpg" class="img-thumbnail"></a>
            <a href="Perform.html"><img src="Images/24.3.jpg" class="img-thumbnail"></a>
        </div>
    </div>
</div>
<div w3-include-html="Common/Footer.html" id="footer"></div>
</body>
</html>